/* changes navbar background color */
:root {
  --bs-primary-rgb: 48, 90, 110;
}


/* changes email color */
a {
  color: #305A6E;
  text-decoration: underline;
}

/* background highlight color change */
::selection {
  background: #dee2e6 !important;
}

/* social icons hover color change */
.social-icons .social-icon:hover {
  background-color: #305A6E !important;
}

/* changes email hover color */
a:hover {
  color: #6c757d;
}


/* deals with the color of a nav bar button when it's clicked */
.active {
    color: white;
}

